@import '../../../../../../../scss/_vars';

:host {
  .benefit__item {
      .card__icon-container {
        margin: 1rem auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        img {
          height: 50px;
          max-width: 50px;

        }
      }
  }
}