.boxs-1 {
  -webkit-box-shadow: 0rem 0.0625rem 0.5rem 0rem rgba(0, 0, 0, 0.07);
          box-shadow: 0rem 0.0625rem 0.5rem 0rem rgba(0, 0, 0, 0.07);
}

.boxs-2 {
  -webkit-box-shadow: 0rem 1.5375rem 1.5375rem 0rem rgba(0, 0, 0, 0.07);
          box-shadow: 0rem 1.5375rem 1.5375rem 0rem rgba(0, 0, 0, 0.07);
}

.boxs-3 {
  -webkit-box-shadow: 0rem 1.6375rem 1.6375rem 0rem rgba(0, 0, 0, 0.07);
          box-shadow: 0rem 1.6375rem 1.6375rem 0rem rgba(0, 0, 0, 0.07);
}

.boxs-4 {
  -webkit-box-shadow: 0rem 1.7375rem 1.7375rem 0rem rgba(0, 0, 0, 0.07);
          box-shadow: 0rem 1.7375rem 1.7375rem 0rem rgba(0, 0, 0, 0.07);
}

.boxs-5 {
  -webkit-box-shadow: 0rem 1.8375rem 1.8375rem 0rem rgba(0, 0, 0, 0.07);
          box-shadow: 0rem 1.8375rem 1.8375rem 0rem rgba(0, 0, 0, 0.07);
}

:host {
  /* Select ServiEstado */
  /* 
Cuando el usuario hace click sobre el componente select
*/
  /* 
Cuando el usuario selecciona una de las opciones 
importante: Esta clase tiene que reemplazar a la clase select-se--active, no tienen que estar juntas
*/
  /* 
Cuando el select tiene el atributo disabled, esta clase se tiene que agregar
al componente select-se 
*/
  /* 
Esta clase siempre tiene que estar presente
en los select para telefonia
*/
}

:host .select-se {
  position: relative;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  cursor: pointer;
  margin-bottom: 1rem;
}

:host .select-se__label {
  color: #BFC5D2;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 400;
}

:host .select-se__label span {
  color: #042C5C;
}

:host .select-se__default {
  background-color: #fff;
  border-radius: 0.5rem;
  border: #f4f6f8 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 48px;
  padding: 1em 1em 1em 1em;
  position: relative;
  width: 100%;
}

:host .select-se__icon {
  display: inline-block;
  height: 8px;
  position: absolute;
  right: 20px;
  top: 48%;
  width: 8px;
}

:host .select-se__img--active {
  display: none;
}

:host .select-se__list {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0rem 1.4375rem 1.4375rem 0rem rgba(0, 0, 0, 0.07);
          box-shadow: 0rem 1.4375rem 1.4375rem 0rem rgba(0, 0, 0, 0.07);
  margin: 1px 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  left: 0;
  top: 49px;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  max-height: 0;
}

:host .select-se__item {
  background-color: #ffffff;
  color: #304566;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: 400;
  padding: 1.1em 1.3em 1.1em 1.3em;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

:host .select-se__item span {
  color: #042C5C;
}

:host .select-se__item:hover {
  background-color: #F4F7FA;
}

:host .select-se__item--delete {
  color: #FB6262;
}

:host .select-se--active .select-se__default {
  border: #1E63F8 1px solid;
}

:host .select-se--active .select-se__img {
  display: none;
}

:host .select-se--active .select-se__img--active {
  display: inherit;
}

:host .select-se--active .select-se__list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  max-height: 1000px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  overflow: hidden;
}

:host .select-se--selected .select-se__label {
  color: #042C5C;
  font-weight: 600;
}

:host .select-se--disabled {
  pointer-events: none;
}

:host .select-se--disabled .select-se__default {
  background-color: #F4F6F8;
}

:host .select-se--phone .select-se__label {
  color: #BFC5D2;
}

:host .select-se--phone .select-se__label span {
  color: #042C5C;
}
/*# sourceMappingURL=select-se.component.css.map */