<footer class="footer">
    <figure class="footer__logotipo">
        <img src="assets/imgs/logo-ServiEstado-horizontal.png" alt="Logotipo ServiEstado">
    </figure>
    <ul class="footer__menu">
        <li class="footer__item">
            <a href="/" class="footer__link" id="footer__cta__help">Centro de ayuda</a>
        </li>
        <li class="footer__item">
            <a href="/public/branch-offices" class="footer__link" id="footer__cta__offices">Sucursales</a>
        </li>
    </ul>
    <a href="/" class="footer__terms" id="footer__cta__terms">© 2019 ServiEstado. Terminos y condiciones</a>
</footer>