<app-page type="public">

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titulo-pagina">
                        <app-page-title type="public">Lo que hacemos</app-page-title>
                    </div>
                </div>
                <div class="col-12">
                    <figure class="hero">
                        <span class="hero__form"></span>
                        <span class="hero__form"></span>
                        <span class="hero__form"></span>
                        <img src="assets/imgs/png/hero-02.png" alt="Fotogafia conceptual de la sección del sitio" class="hero__img">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="main-info">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titulo-seccion">
                        <app-page-title type="public-x2">Nuestra empresa se preocupa<span class="primary-color"> de la experiencia</span></app-page-title>
                    </div>
                </div> 
                <div class="col-12 col-sm-6 mt-4">
                    <app-paragraph type="page-public">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</app-paragraph>
                </div>
                <div class="col-12 col-sm-6 mt-4">
                    <app-paragraph type="page-public">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</app-paragraph>
                </div>
            </div>
        </div>
    </section>

    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 mt-4">
                    <div class="titulo-subseccion">
                        <app-page-title type="public">Grandes hitos</app-page-title>      
                    </div>
                    <app-paragraph type="page-public">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</app-paragraph>
                </div>
                <div class="col-12 no-gutter">
                    <div class="slider-animation">
                        <ngx-tiny-slider [config]="tinySliderConfig">
                            <ng-container class="items">
                                <div class="item">
                                    <div class="item-card-slider">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/png/img-003.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">Nunc fringilla fringilla mi, porta faucibus, Nunc fringilla fringilla mi, porta faucibus.</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/png/img-004.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">Voluptatem tenetur harum sit.</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/png/img-005.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">Voluptatem tenetur harum sit.</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/png/img-004.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">Voluptatem tenetur harum sit.</div>
                                    </div>
                                </div>
                            </ng-container>
                        </ngx-tiny-slider>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonio">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-sm-5 mt-4">
                    <div class="titulo-subseccion">
                        <app-page-title type="public">Inventore veritatis</app-page-title>      
                    </div>
                    <app-paragraph type="page-public">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</app-paragraph>
                </div>
                <div class="col-12 col-sm-7 offset-lg-1 col-lg-6 mt-4">
                    <div class="video-responsive">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yigaZe45uaA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ayuda ayuda--help">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ayuda__wrap">
                        <p class="ayuda__titulo">¿ Quieres contactarte con nosotros ?</p>
                        <div class="ayuda__info">
                            <a href="tel:6002007000" class="ayuda__item">
                                <div class="ayuda__icon">
                                    <i class="material-icons">local_phone</i>
                                </div>
                                <p class="ayuda__text">LLámanos<br> 600 200 7000</p>
                            </a>
                            <a href="#" class="ayuda__item">
                                <div class="ayuda__icon">
                                    <i class="material-icons">chat_bubble_outline</i>
                                </div>
                                <p class="ayuda__text">Escríbenos</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>

    
</app-page>
<app-footer-default></app-footer-default>