@import '../../../../../scss/_vars';
:host {
    position: absolute;
    top: 1.5rem;
    button {
        color: $color-primary-light;
        background-color: $color-action;
        border: none;
        border-radius: 50%;
        width: 1.875rem;
        height: 1.875rem;
    }
    @media (max-width: 767px) {
        left: 0.5rem;
    }
}