<!-- Inicio item cuenta // ejemplo 03 ( Este es el item que se muestra cuando se va al detalle de una cuenta ) -->
<div class="item-cuenta item-cuenta--detalle">
    <div class="item-cuenta__container item-cuenta__container--mobile">
        <div class="item-cuenta__icon">
            <img src="assets/imgs/icons/call-answer-white.svg" alt="Icono del servicio a pagar">
        </div>
        <div class="item-cuenta__info">
            <div class="item-cuenta__nombre">Enel</div>
            <div class="item-cuenta__detalle">
                Vence el 21/09/19
            </div>
        </div>
        <div class="item-cuenta__options">
            <button class="item-cuenta__option" (click)="openEdit()">
                <i class="material-icons">edit</i>
            </button>
            <a href="/" class="item-cuenta__option">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
</div>
<!-- FIN item cuenta -->