@import '../../../../../scss/_vars';
:host {
    textarea.textarea {
        width: 100%;
        min-height: 8rem;
        border-radius: 0.5rem;
        border: $color-input-border 1px solid;
        padding: 1rem;
        font-size: 0.875rem;
        color: $color-primary;
        resize: none;
        &:focus {
            outline: none;
            border-color: #1e63f8;
        }
    }
    .textarea-counter {
        text-align: right;
        font-size: 1rem;
        color: $color-paragraph;
    }
}