@import "../../../../../../scss/_vars";
@import "../../../../../../scss/_mixins";
@import "../../../../../../scss/_public";

:host {
  .preguntas {
    margin: 6em 0 0 0;

    .slider-animation {
      margin: 2em auto 4em auto;

      @media (max-width: 480px) {
        margin: 1em auto 4em auto;
      }
      .item {
        .item-card-slider {
          &-help {
            padding: 1.5rem;
            width: 300px;
            min-height: 400px;

            @media (max-width: $media-max-md) {
              width: 280px;
              height: unset;
            }

            .item-card-slider-icon {
              color: $color-paragraph;
              transition: color 0.3s ease-in-out;
            }

            .item-card-slider-title {
              color: #24272d;
              @include font-size(20);
              @include line-height(24);
              margin: 1em 0 1.5em 0;
            }

            .item-card-slider-help__btn {
              position: absolute;
              bottom: 1.5rem;
              right: 2rem;
              a {
                float: right;
                transition: all 0.2s ease-in-out;
                i {
                  transform: rotate(180deg);
                  color: #ffffff;
                  background-color: $color-action;
                  border-radius: 50%;
                  padding: 1px;
                  vertical-align: bottom;
                  margin-left: 8px;
                  transition: all 0.2s ease-in-out;
                }
              }
            }
          }

          &:hover {
            .item-card-slider-icon {
              color: $color-action;
              transition: color 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.item-card-slider-question {
  color: #6b9eff;
  @include font-size(16);
  @include line-height(24);
  font-weight: 400;
  margin: 0.5em 0 0 0;
  a {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease-in-out;
    &:hover {
      $hover-color: rgb(53, 105, 202);
      border-bottom: 2px solid $hover-color;
      color: $hover-color;
    }
  }
}

.item-card-slider-icon {
  background-color: #f7f9fc;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    @include font-size(28);
  }
}

.item-card-slider__icon-play {
  height: 60px;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  width: 60px;
}

a:hover {
  cursor: pointer;
  color: #1e63f8;
}
