<app-page type="public">
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titulo-pagina">
                        <app-page-title type="public">Sobre nosotros</app-page-title>
                    </div>
                </div>
                <div class="col-12">
                    <figure class="hero">
                        <span class="hero__form"></span>
                        <span class="hero__form"></span>
                        <span class="hero__form"></span>
                        <img src="assets/imgs/png/hero-01.png" alt="Fotogafia conceptual de la sección del sitio" class="hero__img">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="main-info">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titulo-seccion">
                        <app-page-title type="public-x2">La mejor plataforma de pagos creada <span class="primary-color">por personas como tú</span></app-page-title>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mt-4">
                    <app-paragraph type="page-public">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</app-paragraph>
                </div>
                <div class="col-12 col-sm-6 mt-4">
                    <app-paragraph type="page-public">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</app-paragraph>
                </div>
            </div>
        </div>
    </section>

    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 mt-4">
                    <div class="titulo-subseccion">
                        <app-page-title type="public">Grandes hitos</app-page-title>
                    </div>
                    <app-paragraph type="page-public">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</app-paragraph>
                </div>
                <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 no-gutter">
                    <div class="slider-animation">
                        <ngx-tiny-slider [config]="tinySliderConfig">
                            <ng-container class="items">
                                <div class="item">
                                    <div class="item-card-slider-circle">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/wath-to-do-02.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">2019</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider-circle">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/wath-to-do-02.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">2019</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider-circle">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/wath-to-do-02.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">2019</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider-circle">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/wath-to-do-02.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">2019</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider-circle">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/wath-to-do-02.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">2019</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider-circle">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/wath-to-do-02.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">2019</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider-circle">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/wath-to-do-02.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">2019</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-card-slider-circle">
                                        <div class="item-card-slider-image" style="background-image: url(assets/imgs/wath-to-do-02.png)"></div>
                                        <div class="item-card-slider-text-min">Categoria</div>
                                        <div class="item-card-slider-text-primary">2019</div>
                                    </div>
                                </div>
                            </ng-container>
                        </ngx-tiny-slider>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <section class="about">
                    <p class="about__encabezado">Visión</p>
                    <p class="about__titulo">Nunc fringilla fringilla mi, porta faucibus erossapa</p>
                    <p class="about__info">Porta massa velit, dignissim vel felis rutrum, dignissim vulputate velit.iaculis neque. Nunc fringilla fringilla mi, porta faucibus eros vestibulum vel. </p>
                    <span class="about__form"></span>
                    <span class="about__form"></span>
                    <span class="about__form"></span>
                </section>
            </div>
            <div class="col-12">
                <section class="about about--dark">
                    <p class="about__encabezado">Misión</p>
                    <p class="about__titulo">Totam rem aperiam, eaque ipsa quae ab,</p>
                    <p class="about__info">Porta massa velit, dignissim vel felis rutrum, dignissim vulputate velit.iaculis neque. Nunc fringilla fringilla mi, porta faucibus eros vestibulum vel. </p>
                    <span class="about__form"></span>
                    <span class="about__form"></span>
                    <span class="about__form"></span>
                </section>
            </div>
        </div>
    </div>


    <!-- 
    <section class="ayuda">
        <p class="ayuda__titulo">¿Necesitas ayuda?</p>
        <p class="ayuda__info">Lorem ipsum dligendi aspernatur maiores odit quam non sint optio eveniet. Velit ipsam animi, inventore ratione, reprehenderit est facere</p>
        <div class="ayuda__boton">
            <app-button2 type="light">Contacto</app-button2>
        </div>
    </section> 
    -->

    <section class="ayuda ayuda--help">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ayuda__wrap">
                        <p class="ayuda__titulo">¿ Quieres contactarte con nosotros ?</p>
                        <div class="ayuda__info">
                            <a href="tel:6002007000" class="ayuda__item">
                                <div class="ayuda__icon">
                                    <i class="material-icons">local_phone</i>
                                </div>
                                <p class="ayuda__text">LLámanos<br> 600 200 7000</p>
                            </a>
                            <a href="#" class="ayuda__item">
                                <div class="ayuda__icon">
                                    <i class="material-icons">chat_bubble_outline</i>
                                </div>
                                <p class="ayuda__text">Escríbenos</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</app-page>
<app-footer-default></app-footer-default>