<section class="landing__beneficios">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="hero-title hero-title--sub">
          Beneficios de ServiEstado Empresas
        </h3>
      </div>
    </div>
    <div class="row landing__beneficios__items">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <app-card-benefits></app-card-benefits>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <app-card-benefits></app-card-benefits>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <app-card-benefits></app-card-benefits>
      </div>
    </div>
  </div>
</section>
