@import "../../../../../../scss/_vars";

.landing__benefits {
  .hero-title--sub {
    font-size: 1.5em;
    text-align: center;
  }

  .benefit__items {
    max-width: 95%;
    margin: auto;
    @media (max-width: $media-max-xl) {
      max-width: unset;
    }
    @media (max-width: $media-max-lg) {
      max-width: 500px;
    }
  }
}
