<section class="landing__benefits">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="hero-title hero-title--sub">
          Beneficios de ServiEstado Empresas
        </h3>
      </div>
    </div>

    <!-- Pruebas Cards -->
    <div class="row benefit__items">
      <div class="col-sm-12 col-lg-4 mt-2 mb-2" *ngFor="let benefit of benefits">
        <app-card-default>
          <app-card-benefits [cardData]="benefit"></app-card-benefits>
        </app-card-default>
      </div>
    </div>

  </div>
</section>
