@import '../../../../../scss/_vars';
@import '../../../../../scss/_mixins';

/*
Componente: Item card para cambiar medios de pago
*/

.pay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease;
    @media (min-width: 996px) {}
    &__icon {
        width: 30px;
    }
    &__info {
        flex-grow: 2;
        margin: 0 0 0 1em;
    }
    &__number {
        color: $color-primary;
        @include font-size(14);
        @include line-height(22);
        font-weight: 900;
        @media (min-width: 996px) {
            @include font-size(18);
        }
        @media (max-width: 320px) {
            @include font-size(12);
        }
    }
    &__bank {
        color: $color-paragraph;
        @include font-size(12);
        @include line-height(16);
        font-weight: 400;
        @media (min-width: 996px) {
            @include font-size(14);
            @include line-height(24);
        }
        @media (max-width: 320px) {
            @include font-size(11);
        }
    }
    &__button {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 25px;
        color: $color-primary-light;
        @include font-size(14);
        @include line-height(14);
        height: 32px;
        padding: .5em .5em .5em .5em;
        text-align: center;
        transition: all 0.3s ease;
        width: 90px;
        @media (max-width: 320px) {
            width: 85px;
        }
    }
}