<app-page type="public">
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titulo-pagina">
                        <app-page-title type="public">Sucursales</app-page-title>
                    </div>
                </div>
                <div class="col-12">
                    <figure class="hero">
                        <span class="hero__form"></span>
                        <span class="hero__form"></span>
                        <span class="hero__form"></span>
                        <img src="assets/imgs/png/hero-04.png" alt="Fotogafia conceptual de la sección del sitio" class="hero__img">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="main-info">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titulo-seccion">
                        <app-page-title type="public-x2">Tenemos una amplia red de sucursales</app-page-title>
                    </div>
                </div> 
                <div class="col-12 col-sm-6 mt-4">
                    <app-paragraph type="page-public">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</app-paragraph>
                </div>
                <div class="col-12 col-sm-6 mt-4">
                    <app-paragraph type="page-public">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</app-paragraph>
                </div>
            </div>
        </div>
    </section>

    <section class="sucursales">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="titulo-subseccion">
                        <app-page-title type="public">Nuestras sucursales</app-page-title>      
                    </div>
                    <div class="buscador">
                        <app-select-se label="Selecciona una opción" [items]="[{label: 'Opción 1'}, {label: 'Opción 2'}, {label: 'Opción 3'}]"></app-select-se>
                    </div>
                    <div class="resultados">
                        <div class="resultados__item">
                            <div class="resultados__info">
                                <p class="resultados__title">ServiEstado Moneda</p>
                                <p class="resultados__direccion">Avenida demo 1234 Comuna Santiago 012345</p>
                            </div>
                            <span class="resultados__icon">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </span>
                        </div>
                        <div class="resultados__item">
                            <div class="resultados__info">
                                <p class="resultados__title">ServiEstado Moneda</p>
                                <p class="resultados__direccion">Avenida demo 1234 Comuna Santiago 012345</p>
                            </div>
                            <span class="resultados__icon">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </span>
                        </div>
                        <div class="resultados__item">
                            <div class="resultados__info">
                                <p class="resultados__title">ServiEstado Moneda</p>
                                <p class="resultados__direccion">Avenida demo 1234 Comuna Santiago 012345</p>
                            </div>
                            <span class="resultados__icon">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </span>
                        </div>
                        <div class="resultados__item">
                            <div class="resultados__info">
                                <p class="resultados__title">ServiEstado Moneda</p>
                                <p class="resultados__direccion">Avenida demo 1234 Comuna Santiago 012345</p>
                            </div>
                            <span class="resultados__icon">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </span>
                        </div>
                        <div class="resultados__item">
                            <div class="resultados__info">
                                <p class="resultados__title">ServiEstado Moneda</p>
                                <p class="resultados__direccion">Avenida demo 1234 Comuna Santiago 012345</p>
                            </div>
                            <span class="resultados__icon">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="mapa">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.222970833315!2d-70.65509598435986!3d-33.44349698077597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a72130e089%3A0x28d7eee148262169!2sAv%20Libertador%20Bernardo%20O&#39;Higgins%201111%2C%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1576297460976!5m2!1ses!2scl" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ayuda ayuda--help">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ayuda__wrap">
                        <p class="ayuda__titulo">¿ Quieres contactarte con nosotros ?</p>
                        <div class="ayuda__info">
                            <a href="tel:6002007000" class="ayuda__item">
                                <div class="ayuda__icon">
                                    <i class="material-icons">local_phone</i>
                                </div>
                                <p class="ayuda__text">LLámanos<br> 600 200 7000</p>
                            </a>
                            <a href="#" class="ayuda__item">
                                <div class="ayuda__icon">
                                    <i class="material-icons">chat_bubble_outline</i>
                                </div>
                                <p class="ayuda__text">Escríbenos</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>

</app-page>
<app-footer-default></app-footer-default>