<div class="container">
    <div class="registered">
        <div class="row">
            <div class="col-12 pb-2">
                <app-page-title>Tu medio de pago</app-page-title>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <app-payment-card [method]="getMethod()"></app-payment-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>