@import '../../../../../../scss/_vars';
@import '../../../../../../scss/_mixins';
@import '../../../../../../scss/_public';

:host {
  .download:hover {
    cursor: pointer;
  }

  .personal-config__my-profile {


    .panel__left {
  
    }
    
    .panel__right {
      .personal-config__card-item {
        margin-bottom: 3rem;
  
        .card__title {
          h3 {
            color: $color-primary;
            font-size: 20px;
          }
        }
        .card__content {
          padding: 0;
        }
      }
    }
  
    .mini-card__item {
      position: relative;
      background-color: $color-primary-light;
      color: $color-secondary;
      border-radius: 0.875rem;
      height: auto;
      width: 100%;
      padding: 1.5rem;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      margin: 1rem 0;
      max-width: 330px;
      display: flex;
      align-items: center;

      @media (max-width: $media-max-lg) {
        margin: 1rem auto;
      }

      .mini-card {
        &__icon {
          margin-right: 16px;
          color: $color-paragraph;
        }
        &__title {
          color: $color-primary;
          margin: 4px 0;
          font-size: 16px;
        }
        &__label {
          margin-right: .5ch;
        }
        &__label, &__value {
          color: $color-paragraph;
          font-size: 14px;
        }
      }
    }
  }
}