@import '../../../../scss/_vars';
:host {
    .details-payment {
        padding: 1.25rem 0;
         ::ng-deep .details-payment__item {
            display: flex;
            justify-content: space-between;
            padding: .3rem .75rem;
             ::ng-deep p {
                color: $color-primary;
                margin: 0;
                font-size: 0.875rem;
            }
             ::ng-deep span {
                font-size: 0.875rem;
                color: $color-active;
            }
        }
    }
}