<app-header-main></app-header-main>
<app-page>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <app-back-button-page (click)="goToHome()" ></app-back-button-page>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4">
                <app-login-flow-se></app-login-flow-se>
            </div>
        </div>
    </div>
</app-page>
<app-footer-default></app-footer-default>