<section class="ayuda ayuda--help">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ayuda__wrap">
                    <p class="ayuda__titulo">¿ Quieres contactarte con nosotros ?</p>
                    <div class="ayuda__info">
                        <a href="tel:6002007000" class="ayuda__item" id="ayuda__cta__phone">
                            <div class="ayuda__icon">
                                <i class="material-icons">local_phone</i>
                            </div>
                            <p class="ayuda__text">LLámanos<br> 600 200 7000</p>
                        </a>
                        <a href="#" class="ayuda__item" id="ayuda__cta__mail">
                            <div class="ayuda__icon">
                                <i class="material-icons">chat_bubble_outline</i>
                            </div>
                            <p class="ayuda__text">Escríbenos</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>