<div [id]="id" class="container">
  <app-card-page>
    <div class="card-page-body">
      <div class="card-page-body__img">
        <img src="/assets/imgs/login-be-securiry-key.png" alt="Cambiar contraseña">
      </div>
      <div class="card-page-body__form">
        <app-paragraph type="primary"><strong class="card-page-body__form__title">Bienvenida María!</strong></app-paragraph>
        <app-paragraph type="min-sub-value lh-20"><span class="card-page-body__form__subtitle">Por seguridad te recomendamos que escribas una nueva contraseña, utilizando un mínimo de 6 caracteres entre letras y números.</span></app-paragraph>
        <form>
          <app-input idName="enterprises__reset-password__new-password" type="password" placeholder="Nueva contraseña"></app-input>
          <app-input idName="enterprises__reset-password__rewrite-new-password" type="password" placeholder="Repite nueva contraseña"></app-input>
          <app-button idName="enterprises__reset-password__submit" type="auto-block-min-w-x2">Registrarse</app-button>
        </form>
      </div>
    </div>
  </app-card-page>
</div>