@import '../../../../../../../scss/vars';
@import '../../../../../../../scss/public';

:host {
  .help__details__menu__item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .item {
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        i{
          background-color: rgb(241, 241, 241);;
          padding: 15px;
          border-radius: 50%;
          @include font-size(28);
        }
      }
      &__title {
        color: $color-primary;

        span {
          cursor: pointer;
        }
      }

    }

    &.category {
      &--open {
        .item {
          &__icon {
            i {
              color: $color-action;
            }
          }
          &__title {
            color: $color-action;
          }
        }
      }
    }
  }
}