@import '../../../../scss/_vars';

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0, 2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

:host {
    .card-account {
        @include boxs-x(2);
        cursor: pointer;
        margin: 2rem 0.3125rem 2.5rem 0.3125rem;
        width: 6.5625rem;
        height: 8.125rem;
        text-align: center;
        color: $color-primary-light;
        border-radius: $card-border-radius;
        position: relative;
        animation: fadeIn ease 0.5s;

        &::after {
            content: '';
            background: rgba(255, 255, 255, 0.1);
            display: block;
            position: absolute;
            width: 100%;
            height: 50%;
            top: 0;
            z-index: 0;
            left: 0;
            right: 0;
            border-radius: 0 0 50% 50%;
            margin: auto;
        }

        .card-account__icon-account {
            //margin: 1.875rem auto 2.8125rem auto;
            position: relative;
            top: 40px;

            @media (max-width: 480px) {
                top: 24px;
            }

            img {
                height: 1.5rem;
            }
        }

        .card-account__content {
            z-index: 1;
            position: absolute;
            bottom: 0.9375rem;
            text-align: center;
            width: 100%;

            .card-account__content__title {
                font-size: 0.75rem;
                font-family: 'Circular Std Book';
            }

            .card-sold {
                font-size: 0.875rem;
                font-family: 'Circular Std';
                font-weight: bold;
            }
        }

        .card-account__options {
            z-index: 1;
            box-shadow: 0rem 1.4375rem 1.4375rem 0rem rgba(0, 0, 0, 0.07);
            position: absolute;
            overflow: hidden;
            top: 1rem;
            width: 7.6rem;
            right: 1.4rem;
            border-radius: 0.625rem;
            background-color: $color-primary-light;

            &.card-account__options--open {
                display: block;
            }

            &.card-account__options--close {
                display: none;
            }

            ul {
                margin: 0;
                padding: 0;
                font-size: 0.875rem;
                font-weight: normal;
                font-family: 'Circular Std';
                color: $color-paragraph;
                text-align: left;

                li {
                    display: block;
                    margin: 0;
                    padding: 0;

                    button {
                        background: transparent;
                        width: 100%;
                        border: none;
                        padding: 0.5rem;
                        margin: 0;
                        font-weight: inherit;
                        font-size: inherit;
                        color: inherit;
                        cursor: pointer;
                        &:hover {
                            background: $color-hover-options;
                        }
                    }
                }
            }
        }

        @media (min-width: 768px) {
            height: 180px;
            width: 150px;
            margin: 2rem 0.5rem 2.5rem 0.5rem;
            .card-account__content {
                .card-account__content__title {
                    font-size: 1rem;
                }
            }
        }
    }
    
    .card-account__menu-button {
        position: absolute;
        right: 0;
        padding: 0;
        margin: 0;
        z-index: 2;
        height: 1.5rem;
        top: 0.6rem;
        color: white;
        border: none;
        border-radius: 50%;
        width: 1.5rem;
        background-color: transparent;
        text-align: center;
    }
}