@import "../../../../../../scss/_vars";

.feature-banner {
  .hero-title {
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 3.5rem;
    @media (max-width: $media-max-lg) {
      margin-top: 1rem;
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  .feature__action {
    margin: 2rem 0;
  }

  .order-sm-2 {
    .hero-text-contaienr {
      max-width: 500px;
      padding-top: 16px;
      margin: auto;
      text-align: right;
      @media (max-width: $media-max-md) {
        text-align: center;
      }
    }
  }

  .feature {
    &__concept {
      @media (max-width: $media-max-md) {
        max-width: 75%;
        margin: auto;
      }
    }
  }
}
