<section class="feature feature-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 order-1 order-sm-1">
                <div class="row">
                    <figure class="feature__concept feature__concept--out">
                        <img class="feature__image" src="assets/imgs/mujer_home.png" alt="Fotografia de personas saludando">
                    </figure>
                </div>
            </div>
            <div class="col-12 col-sm-6 order-2 order-sm-2">
                <div class="text-right">
                    <h1 class="hero-title">Haz que tus clientes paguen en un sólo lugar.</h1>
                    <app-paragraph>Si eres PYME o Empresa, en <span>ServiEstado</span> te ofrecemos un convenio de recaudación <span>a tu medida</span>.</app-paragraph>
                    <div class="feature__action">
                        <app-link to="registro" id="enterprises__feature-banner__cta">Me interesa</app-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>