@import '../../../../../scss/_vars';
@import '../../../../../scss/_select';

:host {
    .profile-show {
        display: block;
    }
    .profile-hide {
        display: none;
    }
    .profile-form {
        position: relative;
        background-color: $color-primary-light;
        color: $color-primary;
        border-radius: 14px;
        height: auto;
        width: 100%;
        min-height: 20.5rem;
        padding: 6rem 1.5rem 2rem 1.5rem;
        box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.03);
        
        @media (max-width: 991px) {
            border-radius: 0 0 0.875rem 0.875rem !important;
            padding: 2rem 1.5rem;
        }
    }
}