@import '../../../../../../scss/vars';
@import '../../../../../../scss/public';

:host {
  .help__details {
    >.row {
      margin: 3rem 0;
      @media (max-width: $media-max-lg) {
        margin: 0;
      }
    }
    .help__details__menu__items {

      @media (max-width: $media-max-lg) {
        &.hide {
          display: none;
        }
        &.show {
          display: block;
        }
      }
      
      
    }

    .help__details__faq__items {
      @media (max-width: $media-max-lg) {
        display: none;
        &.hide {
          display: none;
        }
        &.show {
          display: block;
        }
      }

      #help__details__menu__items__btn-back {
        margin: 2rem 0;
        display: none;
        color: $color-primary;
        font-size: 14px;
        i {
          background: $color-action;
          border-radius: 50%;
          padding: 1px;
          color: white;
          vertical-align: bottom;
          margin-right: 8px;
        }
        @media (max-width: $media-max-lg) {
          display: block;
        }
      }
    }
  }
}