@import '../../../../../scss/_vars';
@import '../../../../../scss/_mixins';
@import '../../../../../scss/helpers';
:host {
    h2 {
        color: $color-primary;
        @include font-size(18);
        @include line-height(24);
        font-weight: 500;
        margin: 0 0 .5em 0;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            @include font-size(24);
            @include line-height(32);
            font-weight: 600;
        }

        &.public {
            @include font-size(18);
            @include line-height(24);
            font-weight: 600;

            @media (min-width: 768px) {
                @include font-size(24);
                @include line-height(32);
            }
        }

        /*
        &.public {
            font-size: 1.6rem;
            @media (max-width: 991px) {
                font-size: 1.2rem;
            }
        }
        */
        &.public-x2 {
            @include font-size(48);
            @include line-height(56);
            @media (max-width: 768px) {
                @include font-size(36);
                @include line-height(40);
            }
            @media (max-width: 480px) {
                @include font-size(28);
                @include line-height(32);
            }
        }

        &.light {
            color: $color-input-border-light;
        }

        &.white{
            color: #fff;
            @include font-size(14);
            @include line-height(24);
            font-weight: 600;
        }
        &.white-color{
            color: #fff;
        }

        &.history {
            color: rgb(4, 44, 92);
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 24px;
        }
    }
}