<div class="card-user">
  <app-card-default>
    <div class="profile-card text-center type--{{ profile }}">
      <div class="information-item top"
        *ngIf="topBadgeData !== '' && topBadge !== '' && topBadge !== 'none'">
        <div [ngClass]="['top ' + topBadge, topBadge]">
          <span>{{ topBadgeData }}</span>
        </div>
      </div>
      <div class="profile-card__menu"
        *ngIf="profile === 'users-list'">
        <span class="material-icons">more_vert</span>
        <ul class="profile-card__menu__dropdown">
          <li><a (click)="handleEditUser()">Editar</a></li>
          <li><a (click)="handleDeleteUser()">Eliminar</a></li>
        </ul>
      </div>
      <div class="profile-content">
        <app-avatar [userData]="userData"></app-avatar>
        <div class="profile__info">
          <p class="profile__fullname text-center">
            <span *ngIf="userData.firstName !== '' && userData.firstName !== undefined && userData.firstName !== null; then personBlock else billerBlock"></span>
            <ng-template #personBlock>
              <span class="profile__firstname">
                {{ userData.firstName }}
              </span>
              <span class="profile__lastname">
                {{ ( userData.lastName ? userData.lastName : '') }}
              </span>
            </ng-template>
            <ng-template #billerBlock>
              <span class="profile__firstname">
                {{ userData.name }}
              </span>
            </ng-template>
          </p>
          <div *ngIf="userData.firstName !== '' && userData.firstName !== undefines && userData.firstName !== null; then personEmailBlock else billerRutBlock"></div>
          <ng-template #personEmailBlock>
            <p class="profile__email text-center"><small>{{ userData.email }}</small></p>
          </ng-template>
          <ng-template #billerRutBlock>
            <p class="profile__email text-center"><small>{{ userData.rut }}</small></p>
          </ng-template>
        </div>
      </div>
      <div class="information-item bottom"
        *ngIf="bottomBadgeData !== '' && bottomBadge !== '' && bottomBadge !== 'none'">
        <div [ngClass]="['bottom ' + bottomBadge, bottomBadge]">
          <span
            [ngClass]="{ 'admin': userData.roles[0].role === 'Administrador' }">
            {{ bottomBadgeData }}
          </span>
        </div>
      </div>
    </div>
  </app-card-default>
</div>