<div class="card-user">
  <app-card-default>
    <div class="profile-card text-center">
      <div class="profile-content">
        <div class="avatar">
          MM
        </div>
        <div class="profile__info">
          <p class="profile__fullname text-center">
            <span class="profile__firstname">María</span><span class="profile__lastname">Martinez</span>
          </p>
          <p class="profile__email text-center"><small>user@email.com</small></p>
        </div>
      </div>
    </div>
  </app-card-default>
</div>