@import '../../../../../scss/_vars';

.enterprises__register {
  .hero-title {
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 3.5rem;
    @media (max-width: 997.99px) {
        margin-top: 1rem;
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .serv {
      color: $color-action;
    }
  }
  .row-light:first-child {
    margin-top: 3rem;
  }
  .row-light {
    background-color: #ffffff;
    border-radius: $card-border-radius;
    margin: 16px auto;
    padding: 16px 8px;;

    label {
      font-weight: bold;
    }
  }
  .row-submit div:first-child {
    order: 1;
  }
  .row-submit div:last-child {
    order: 2;
  }

  @media (max-width: 575.99px) {
    .row-submit div:first-child, .row-submit div:last-child {
      text-align: center;
    }
    .row-submit div:first-child {
      order: 2;
    }
    .row-submit div:last-child {
      order: 1;
    }
  }

  //modal
  #enterprises__register__modal {
    .modal_section__body {
      .icon-container {
        background-color: rgb(154, 230, 154);
        border-radius: 80px;
        width: 80px;
        height: 80px;
        margin: 8px auto 24px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          max-width: 30px;
        }
      }
      .text-container {
        .register__modal__title {
          color: $color-primary;
          text-align: center;
        }
        .register__modal__subtitle {
          color: $color-primary;
          font-weight: normal;
          text-align: center;
        }
      }
      .btn-container {
        margin: 2rem auto 1rem auto;
        text-align: center;  
        .modal-btn {
          margin: 0 2rem;
        }
      }
    }
  }
}