<app-page type="dark">
  <div class="enterprises__register">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="hero-title">
            Bienvenido a <br /><span class="serv">ServiEstado</span> empresa
          </h1>
          <app-paragraph type="primary"
            >Para que puedas operar en nuestro portal, necesitamos ingreses los
            siguientes datos y uno de nuestros ejecutivos se pondrá en contacto
            para entregar una oferta personalizada y así puedas disfrutar de
            todas las funcionalidades de nuestro portal empresa.</app-paragraph
          >
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="container">
      <div class="row">
        <div class="col-12">
          <form novalidate name="registerForm" [formGroup]="registerForm">
            <div class="container">
              <div class="row row-light">
                <div class="col-12">
                  <app-label>Datos de la empresa</app-label>
                </div>
                <!-- /.col -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <app-input
                    [invalidText]="getMesaggeErrorBussinesName()"
                    icon="none"
                    status="{{
                      f.business_name.hasError('required') && formInvalid
                        ? 'invalid'
                        : ''
                    }}"
                    idName="enterprises__register__name"
                    type="text"
                    formControlName="business_name"
                    ngDefaultControl
                    placeholder="Razón social"
                  ></app-input>
                </div>
                <!-- /.col -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <app-input 
                    [invalidText]="getMesaggeErrorRut()" 
                    icon="none"  
                    status="{{ ( f.rut.hasError('required') || f.rut.hasError('rutInvalid') ) && formInvalid ? 'invalid' : ''  }}" 
                    maxlength="12"
                    rutMaskInput
                    idName="enterprises__register__rut" 
                    type="text" placeholder="Rut"  
                    formControlName="rut" 
                    ngDefaultControl></app-input>
                    
                </div> <!-- /.col -->
                <div class="offset-lg-4 offset-sm-12"></div> <!-- /.col -->
              </div> <!-- /.row -->

              <div class="row row-light">
                <div class="col-12">
                  <app-label>Datos de contacto</app-label>
                </div>
                <!-- /.col -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <app-input
                    [invalidText]="getMesaggeErrorName()"
                    icon="none"
                    status="{{
                      f.name.hasError('required') && formInvalid
                        ? 'invalid'
                        : ''
                    }}"
                    idName="enterprises__register__person-name"
                    type="text"
                    formControlName="name"
                    ngDefaultControl
                    placeholder="Nombre"
                  ></app-input>
                </div>
                <!-- /.col -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <app-input
                    [invalidText]="getMesaggeErrorLastName()"
                    icon="none"
                    status="{{
                      f.last_name.hasError('required') && formInvalid
                        ? 'invalid'
                        : ''
                    }}"
                    idName="enterprises__register__person-lastname"
                    type="text"
                    formControlName="last_name"
                    ngDefaultControl
                    placeholder="Apellido"
                  ></app-input>
                </div>
                <!-- /.col -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <app-input
                    [invalidText]="getMesaggeErrorEmail()"
                    icon="none"

                    status="{{ ( f.email.hasError('pattern') || f.email.hasError('required') ) && formInvalid ? 'invalid' : ''  }}"
                    idName="enterprises__register__person-email"
                    type="email"
                    formControlName="email"
                    ngDefaultControl
                    placeholder="Correo Electrónico"
                  ></app-input>
                </div>
                <!-- /.col -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <app-input
                    [invalidText]="getMesaggeErrorPhone()"
                    icon="none"
                    status="{{
                      f.phone.hasError('required') && formInvalid
                        ? 'invalid'
                        : ''
                    }}"
                    idName="enterprises__register__person-phone"
                    type="text"
                    maxlength="10"
                    formControlName="phone"
                    ngDefaultControl
                    placeholder="Teléfono"
                    (keypress)="numberOnly($event)"
                  ></app-input>
                </div>
                <!-- /.col -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <app-input  [invalidText]="getMesaggeErrorPosition()" icon="none" status="{{ f.position.hasError('required') && formInvalid ? 'invalid' : '' }}" idName="enterprises__register__person-position" type="text" formControlName="position" ngDefaultControl  placeholder="Cargo"></app-input>
                </div> <!-- /.col -->
                <div class="offset-lg-6 offset-md-6"></div> <!-- /.col -->
              </div> <!-- /.row -->
              
              <div class="row row-submit">
                <div
                  class="offset-md-4 col-md-4 offset-sm-2 col-sm-5 text-right"
                >
                  <app-button
                    to="/empresas"
                    type="alpha"
                    idName="enterprises__register__btn-cancel"
                    >Cancelar</app-button
                  >
                </div>
                <!-- /.col -->
                <div class="col-md-4 col-sm-5 text-right">
                  <app-button
                    size="lg"
                    type="auto-block-min-w-x2"
                    idName="enterprises__register__btn-submit"
                    (click)="
                      btnSendData()"
                    >Enviar</app-button
                  >
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container -->
          </form>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <app-modal
      name="enterprises__register__modal"
      id="enterprises__register__modal"
    >
      <div class="modal_section__header"></div>
      <div class="modal_section__body">
        <div class="icon-container">
          <img class="icon" src="/assets/imgs/svg/icon-ok.svg" alt="ok" />
        </div>
        <div class="text-container">
          <h3 class="register__modal__title">
            Datos enviados!
          </h3>
          <p class="register__modal__subtitle">
            Tus datos han sido enviados de forma exitosa, en pocas horas un
            ejecutivo de ServiEstado se contactará contigo.
          </p>
        </div>
        <div class="btn-container">
          <app-link id="enterprises__register__modal__cta" [to]="'/empresas'">
            <div class="modal-btn">
              Volver al inicio
            </div>
          </app-link>
        </div>
      </div>
      <div class="modal_section__footer"></div>
    </app-modal>
  </div>
  <!-- /.enterprises__register -->
</app-page>
