<app-page type="light">
  <div class="enterprises__register">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="hero-title">
            Bienvenido a <span class="">ServiEstado</span> empresa
          </h1>
          <app-paragraph
            >Para que puedas operar en nuestro portal, necesitamos ingreses los
            siguientes datos y uno de nuestros ejecutivos se pondrá en contacto
            para entregar una oferta personalizada y así puedas disfrutar de
            todas las funcionalidades de nuestro portal empresa.</app-paragraph
          >
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
    <form action="">

      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-paragraph>Datos de la empresa</app-paragraph>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <app-input type="text" placeholder="Razón social"></app-input>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <app-input type="text" placeholder="Rut"></app-input>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-paragraph>Datos de contacto</app-paragraph>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <app-input type="text" placeholder="Nombre"></app-input>
          </div> <!-- /.col -->
          <div class="col-lg-4 col-md-6 col-sm-12">
            <app-input type="text" placeholder="Apellido"></app-input>
          </div> <!-- /.col -->
          <div class="col-lg-4 col-md-6 col-sm-12">
            <app-input type="email" placeholder="Correo Electrónico"></app-input>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <app-input type="text" placeholder="Teléfono"></app-input>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <app-input type="text" placeholder="Cargo"></app-input>
          </div>  <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
  
          </div>
          <div class="col-md-4 col-sm-12 text-right">
            <app-link>Cancelar</app-link>
          </div>
          <div class="col-md-4 col-sm-12 text-right">
            <app-link>Enviar</app-link>
          </div>
        </div>
      </div>
    </form>
  </div> <!-- /.enterprises__register -->
</app-page>
