@import '../../../../../scss/_vars';
@import '../../../../../scss/_mixins';
@import '../../../../../scss/_public';


#personal-config {
  margin-top: 3rem;

  .personal-config__title {
    color: $color_primary;
    @media (max-width: $media-max-lg) {
      text-align: center;
    }
    h2 {
      @media (max-width: $media-max-xxs) {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }
  }

  .personal-config__menu {

    @media (max-width: $media-max-lg) {
      text-align: center;
    }

    .menu-items {
      .menu-item {
        display: inline-block;
        margin-top: 1rem;

        @media (max-width: $media-max-sm) {
        }
        a {
          padding: 4px 40px;
          cursor: pointer;
          font-size: 18px;
          @media (max-width: $media-max-sm) {
            padding: 4px 30px;
          }
          @media (max-width: $media-max-xs) {
            padding: 4px 8px;
            font-size: 16px;
          }
          &:visited {
            color:inherit;
          }
          &.active {
            border-bottom: 3px solid $color_primary;
            color: $color_primary;
            font-weight: bold;
          }
        }
      }
    }
    margin-bottom: 3rem;

    .config__menu__btn-edit__cont {
      text-align: right;

      @media (max-width: $media-max-lg) {
        text-align: center;
        margin-top: 3rem;
      }
      button {
      }
      span {
        margin: 0 1rem;
      }
    }
  } // .personal-config__menu

  .personal-config__main-container {
  
    > div {
      transition: all .3s;
    }
    
  } // .personal-config__main-container

  .register-new-user {

    .register-new-user__header {
      margin-bottom: 2rem;
      .icon-container {
        &.new-user {
          text-align: center;
          margin: 3rem auto 1rem;
          text-align: center;
          background-color: #f7f7f7;
          border-radius: 50%;
          padding: 15px;
          width: 100px;
          height: 100px;
          .material-icons {
            font-size: 70px;
          }
        }
      }
      .personal-config__users__title {
        color: $color-primary;
        margin-bottom: 0;
      }
      p {
        font-family: 'Circular Std Book';
      }
    }

    .register-new-user__form {

      .new-user__form__label--block {
        display: block;
        color: $color_primary;
      }

      .assign-contact {
        margin: 1rem 0;
        input {
          padding-right: 16px;
        }
        label {
          color: $color_primary;
        }
      }

      .personal-config__users__select {
        width: 100%;
        border-radius: $base-border-radius;
        border: $color-input-border 1px solid;
        padding: 1rem;
        font-size: 0.875rem;
        color: $color-input-text;
        &:focus,
        &:focus {
            outline: none;
            border-color: $color-action;
        }
        &[disabled] {
            color: $color-text-disabled;
            background-color: $color-input-border;
        }
    
        option {
    
        }
      }
      .register-new-user__form__btns {
        margin: 2rem 0 0;
        a {
          margin-top: 1rem;
        }
      }
    }
  }


  .register-new-user--success {
    .icon-container {
      background-color: $color-action;
      border-radius: 80px;
      width: 80px;
      height: 80px;
      margin: 8px auto 24px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      .icon {
        max-width: 50px;
        max-height: 50px;
        color: white;
      }

      &.success {
        background-color: $color-success;
      }
    }

    .register__modal__title {
      color: $color_primary;
      font-size: 20px;
    }
    .register__modal__subtitle {
      padding: 0 2rem;
      font-family: 'Circular Std Book';
      strong {
        font-family: 'Circular Std';
      }
      @media (max-width: $media-max-xs) {
        padding: 0;
        font-size: 14px;
      }
    }
    .btn-container {
      margin: 2rem auto;
    }
  }
}