<div class="card-register-success">
    <div class="card-register-success__header text-center">
        <app-modal-icon type="imgLg" src="assets/imgs/svg/icon-bienvenida-bg.svg" alt="Icono ok de la modal"></app-modal-icon>
        <app-modal-title>Felicitaciones! tu cuenta fue creada</app-modal-title>
        <app-paragraph>
            Antes de continuar cuentános <b>¿Eres cliente de BancoEstado?</b>
        </app-paragraph>
    </div>
    <div class="card-register-success__body text-left">
        <app-capsule type="welcome-03"></app-capsule>
    </div>
    <div class="card-register-success__footer text-center">
        <div>
            <div class="col-12 col-md-10 offset-md-1 mb-2">
                <app-button2 auto="true" type="terciario">No soy cliente</app-button2>
            </div>
            <div class="col-12 col-md-10 offset-md-1">
                <app-button2 auto="true" type="primario">Soy cliente BancoEstado</app-button2>
            </div>
        </div>
    </div>
</div>