<div id="enterprises__dashboard">
  <p>dashboard works!</p>

  <app-modal
    name="enterprises__dashboard__welcome-modal"
    id="enterprises__dashboard__welcome-modal"
  >
    <div class="modal_section__header"></div>
    <div class="modal_section__body">
      <div class="icon-container">
        <img class="icon" src="/assets/imgs/svg/icon-ok.svg" alt="ok" />
      </div>
      <div class="text-container">
        <h3 class="register__modal__title">
          Bienvenido a ServiEstado.cl
        </h3>
        <p class="register__modal__subtitle">
          Recuerda que desde ahora deberás ingresar con los siguientes datos:
        </p>
        <ul class="welcome-modal__login-list">
          <li>
            <div class="login-list__img">
              <img _ngcontent-lmt-c17="" alt="ok" class="icon" src="/assets/imgs/svg/icon-ok.svg">
            </div>
            <div class="login-list__text">
              Rut de la empresa
            </div>
          </li>
          <li>
            <div class="login-list__img">
              <img _ngcontent-lmt-c17="" alt="ok" class="icon" src="/assets/imgs/svg/icon-ok.svg">
            </div>
            <div class="login-list__text">
              Tu correo electrónico
            </div>
          </li>
          <li>
            <div class="login-list__img">
              <img _ngcontent-lmt-c17="" alt="ok" class="icon" src="/assets/imgs/svg/icon-ok.svg">
            </div>
            <div class="login-list__text">
              <strong>La contraseña que recién creaste</strong>
            </div>
          </li>
        </ul>
      </div>
      <div class="btn-container">
        <app-link id="enterprises__register__modal__cta">
          <div class="modal-btn">
            Continuar
          </div>
        </app-link>
      </div>
    </div>
    <div class="modal_section__footer"></div>
  </app-modal>
</div>
