@import '../../../../../scss/_vars';
:host {

  .modal__box {
    max-width: 22rem;
  }
  #enterprises__dashboard {

    #enterprises__dashboard__welcome-modal {
      .modal_section__body {
        .icon-container {
          background-color: rgb(154, 230, 154);
          border-radius: 80px;
          width: 80px;
          height: 80px;
          margin: 8px auto 24px auto;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon {
            max-width: 30px;
          }
        }
        .text-container {
          .register__modal__title {
            color: $color-primary;
            text-align: center;
          }
          .register__modal__subtitle {
            color: $color-text;
            font-weight: normal;
            text-align: left;
          }
        }
        ul.welcome-modal__login-list {
          margin: 24px 0 64px 16px;
          li {
            margin: 8px 0;
            color: $color-primary;
            display: flex;
            .login-list__img {
              margin-right: 8px;
              margin-top: 3px;
              img {
                width: 18px;
                height: 18px;
                padding: 4px;
                background-color: #9ae69a;
                border-radius: 50%;
              }
            }
            .login-list__text {
              width: calc(100% - 25px);
            }
          }
        }
        .btn-container {
          margin: 2rem auto 1rem auto;
          text-align: center;  
          .modal-btn {
            margin: 0 2rem;
          }
        }
      }
    }
  }
}