@import '../../../../scss/vars';

#top-bar {
  @media (max-width: $media-max-lg) {
    display: none;
  }
  a {
    float: right;
    background-color: #F7F9FC;
    padding: 4px 1rem;
    font-size: 12px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}