:host {
  .colored-line {
    margin: 1rem;
    .line {
      border-bottom: 4px solid;
    }

    $length-items: 
      "xs" 30px, 
      "sm" 50px, 
      "md" 80px, 
      "lg" 120px, 
      "xl" 180px, 
      "all" 100%;

    @each $size-term, $size in $length-items {
      &[length="#{$size-term}"] .line {
        width: #{$size};
      }
    }

    $thikness-items: 
      "xs" 1px, 
      "sm" 2px, 
      "md" 3px, 
      "lg" 4px, 
      "xl" 5px, 
      "xxl" 6px;

    @each $size-term, $size in $thikness-items {
      &[thickness="#{$size-term}"] .line {
        border-bottom: #{$size} solid;
      }
    }

    $horizonta-align-items: "center", "left", "right";

    @each $align in $horizonta-align-items {
      @if ($align == "center") {
        &[horizontal="#{$align}"] .line {
          margin: auto;
        }
      } @else if ($align == "right") {
        &[horizontal="#{$align}"] .line {
          float: #{$align};
        }
      }
    }

    $min-space: 8;

    $spacer-top-items: 
    "xs"  #{$min-space}px,
    "sm"  #{$min-space*2}px,
    "md"  #{$min-space*3}px,
    "lg"  #{$min-space*4}px,
    "xl"  #{$min-space*5}px,
    "xxl" #{$min-space*6}px;

    @each $size-term, $space in $spacer-top-items {
      &[spacer-top="#{$size-term}"] .line {
        padding-top: #{$space};
      }
    }

    $spacer-bottom: 
    "xs"  #{$min-space}px,
    "sm"  #{$min-space*2}px,
    "md"  #{$min-space*3}px,
    "lg"  #{$min-space*4}px,
    "xl"  #{$min-space*5}px,
    "xxl" #{$min-space*6}px;

    @each $size-term, $space in $spacer-bottom {
      &[spacer-bottom="#{$size-term}"] .line {
        margin-bottom: #{$space};
      }
    }
  }
}