@import '../../../../../scss/_vars';

:host {
  .container {
    padding-top: 3rem;
  }
  .card-page-body {
    .card-page-body__img {
      max-width: 80px;
      margin: 0 auto 1rem auto;
    }
    .card-page-body__form {
      form {
        margin: 1rem auto;
      }
    }
  }
  #enterprises__login__client {
    font-size: 14px;
    font-weight: bold;
  }
}