<div [id]="id" class="container">
  <app-card-page>
    <div class="card-page-body">
      <div class="card-page-body__img">
        <img src="/assets/imgs/svg/icon-login.svg" alt="Iniciar Sesión">
      </div>
      <div class="card-page-body__form">
        <app-paragraph type="primary"><strong>Iniciar sesión</strong></app-paragraph>
        <app-paragraph type="min-sub-value">Para iniciar sesión ingresa los siguientes datos</app-paragraph>
        <form  [formGroup]="loginForm">
          <app-input type="rut"
          [value]="f.rut.value" 
          placeholder="Rut empresa"
          [invalidText]="getMesaggeErrorRut()"
          status="{{
            f.rut.hasError('required') && formInvalid ? 'invalid' : ''
          }}"
          formControlName="rut"
         
          ngDefaultControl></app-input>
          <app-input type="email" placeholder="Correo electrónico"
          [invalidText]="getMesaggeErrorEmail()"
          [value]="f.email.value" 
          status="{{ ( f.email.hasError('pattern') || f.email.hasError('required') ) && formInvalid ? 'invalid' : ''  }}"
          formControlName="email"
          ngDefaultControl></app-input>
          <app-input type="password" placeholder="Contraseña"
          [invalidText]="getMesaggeErrorPassword()"
          status="{{
            f.password.hasError('required') && formInvalid
              ? 'invalid'
              : ''
          }}"
          formControlName="password"
          ngDefaultControl
        >
        </app-input>


          <app-button  
          size="lg"
          type="auto-block-min-w-x2"
          idName="enterprises__login__btn-submit"
          (click)="btnSendData()"
          >Entrar</app-button>



        </form>
      </div>
    </div>
    <div class="card-page-footer">
      <p class="text-center">
        <small>
          ¿Aún no eres cliente de BancoEstado?
        </small>
      </p>
      <a id="enterprises__login__client" href="/empresas/#">Hazte cliente</a>
    </div>
  </app-card-page>
</div>